:root {
  --gradient: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(100, 43, 115, 1) 0%,
    rgba(4, 0, 4, 1) 90%
  );
}
@keyframes gradient-animation {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  background-color: #eaeaea;
  background-image: var(--gradient);
  background-size: 200%;
  animation: gradient-animation 25s infinite alternate;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 a {
  text-decoration: none;
  color: white;
}

.Movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Movie-wrapper {
  width: 500px;
  background-color: gold;
  color: black;
}

.Movie-search {
  height: 48px;
  font-size: 24px;
  margin-bottom: 32px;
  padding: 16px;
  font-weight: bold;
  width: 475px;
}

.Movie-title {
  height: 60px;
  margin-top: 26px;
  font-weight: bold;
}

.Movie-date {
  margin-top: 26px;
  font-style: italic;
}

.Movie-rate {
  color: red;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: underline;
}

.Pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.Pagination button {
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
  background-color: gold;
  color: black;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-size: 20px;
}

.Pagination button:hover {
  background-color: goldenrod;
}

.Pagination span {
  padding: 8px 16px;
  margin: 0 5px;
  background-color: purple;
  color: #fff;
  border-radius: 4px;
}

@media screen and (max-width: 600px) {
  .Movie-wrapper {
    width: 85%;
  }

  .Movie-search {
    width: 66%;
  }

  .Movie-image {
    width: 100%;
  }

  .Pagination button {
    font-size: 16px;
  }
}

.LoadingSpinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-top: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}